#container{
	position: relative;
	margin: auto;
	height: 500px;
	width: 800px;
}
#kop{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
	height: 80px;
	background-color: #452215;
}
#tekst{
	position: absolute;
	top: 80px;
	left: 170px;
	height: 420px;
	width: 800px;
	background-color: #444fff;
}
table{
	border-style: double;
	border-color: #ffffff;
	border-collapse: collapse;
	border-spacing: 5px;
}
td{
	border-style: double;
	border-color: #ffffff;
	border-collapse: collapse;
	border-spacing: 5px;	
}
th{
	border-style: double;
	border-color: #ffffff;
	border-collapse: collapse;
	border-spacing: 5px;
}
thead{
	font-style: italic;
}